{{#if is_admin}}




<div class="ph3 pv3 ph4-m ph5-l">
	<form method="post" action="/admin/settings/save">

		<h4 class="black-40 bg-black-10 tc pa3 f6">Site Information</h4>

		<div class="cf">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Site Title</label>
				<input class="db w-100  pa2 f5" type="text" name="site_title" value="{{site_title}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Site Code</label>
				<input class="db w-100  pa2 f5" type="text" name="site_code" value="{{site_code}}" />
			</div>

		</div>

		<div class="cf mb1">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Site URL</label>
				<input class="db w-100  pa2 f5" type="text" name="site_url" value="{{site_url}}" />
			</div>
			<div class="fl w-100 w-50-ns pl3-ns">
				<label class="db mb2 roboto ttu b f6">Api Root</label>
				<input class="db w-100  pa2 f5" type="text" name="api_root" value="{{settings.api_root}}" />
			</div>

		</div>




		<h4 class="black-40 bg-black-10 tc pa3 f6">Database</h4>

		<div class="cf">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Host</label>
				<input class="db w-100  pa2 f5" type="text" name="db_host" value="{{settings.database.host}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">DB Name</label>
				<input class="db w-100  pa2 f5" type="text" name="db_name" value="{{settings.database.name}}" />
			</div>

		</div>




		<div class="cf mb1">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">DB User</label>
				<input class="db w-100  pa2 f5" type="text" name="db_user" value="{{settings.database.user}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">DB Password</label>
				<input class="db w-100  pa2 f5" type="text" name="db_password" value="{{settings.database.password}}" />
			</div>

		</div>




		<h4 class="black-40 bg-black-10 tc pa3 f6">Mailgun</h4>

		<div class="cf mb1">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">API Key</label>
				<input class="db w-100  pa2 f5" type="text" name="mailgun_api_key" value="{{settings.mailgun.api_key}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Domain</label>
				<input class="db w-100  pa2 f5" type="text" name="mailgun_domain" value="{{settings.mailgun.domain}}" />
			</div>

		</div>





		<h4 class="black-40 bg-black-10 tc pa3 f6">Amazon S3</h4>

		<div class="cf mb1">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Key</label>
				<input class="db w-100  pa2 f5" type="text" name="s3_key" value="{{settings.s3.key}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Secret</label>
				<input class="db w-100  pa2 f5" type="text" name="s3_secret" value="{{settings.s3.secret}}" />
			</div>

		</div>

		<div class="cf mb1">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Bucket</label>
				<input class="db w-100  pa2 f5" type="text" name="s3_bucket" value="{{settings.s3.bucket}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns">
			</div>

		</div>




		<button class="dib br2 button-submit bn roboto ttu tracked b f6 mb4">Save Settings</button>

	</form>
</div>




{{/if}}