{{#if is_admin}}




<div class="flex justify-between bg-black-70 w-100 ph3 pv2 pv3-ns ph4-m ph5-l">
  <div class="f6 flex-grow">
    <a class="link white-50 hover-white dib mr4" href="/admin/users" title="All Users">All Users</a>
    <a class="link {{#unless data._id}}white-90{{else}}white-50{{/unless}} hover-white dib mr4" href="/admin/users/edit/new" title="New User">+ New User</a>
  </div>
</div>




<div class="ph3 pv4 ph5-l">
	<form class="admin-edit" action="javascript:void(0);">




		<div class="cf">

	    <div class="fl w-100 w-50-ns pr3-ns mb4 required">
	      <label class="db mb2">Email Address <small class="silver ml3 dib">* required</small></label>
	      <input class="db w-100 ba bw1 pa3 b" type="text" name="email" value="{{data.email}}" />
	      <span class="db f6 pt2"></span>
	    </div>

	    <div class="fl w-100 w-50-ns pl3-ns mb4">
	      <label class="db mb2">Password <small class="silver ml3 dib">(no change if blank)</small></label>
	      <input class="db w-100 ba bw1 pa3 b" type="password" name="password" />
	      <span class="db f6 pt2"></span>
	    </div>

		</div>




		<div class="cf">

	    <div class="fl w-100 w-50-ns pr3-ns mb4 required">
	      <label class="db mb2">Screen Name <small class="silver ml3 dib">* required</small></label>
	      <input class="db w-100 ba bw1 pa3 b" type="text" name="screenname" value="{{data.screenname}}" />
	      <span class="db f6 pt2"></span>
	    </div>

	    <div class="fl w-100 w-50-ns pl3-ns mb4">
	      <label class="db mb2">Group</label>
				<select name="group_id">
					<option value=""></option>
					<option {{#is data.group_id "==" "1"}}selected="selected"{{/is}} value="1">Admin</option>
					<option {{#is data.group_id "==" "2"}}selected="selected"{{/is}} value="2">Moderator</option>
					<option {{#is data.group_id "==" "3"}}selected="selected"{{/is}} {{#is data.group_id "==" ""}}selected="selected"{{/is}} value="3">General User</option>
					<option {{#is data.group_id "==" "4"}}selected="selected"{{/is}} value="4">Blocked</option>
				</select>
	    </div>

		</div>




		<div class="cf mb2">

	    <div class="fl w-100 w-50-ns pr3-ns mb4">
	      <label class="db mb2">First Name</label>
	      <input class="db w-100 ba bw1 pa3 b" type="text" name="first_name" value="{{data.first_name}}" />
	      <span class="db f6 pt2"></span>
	    </div>

	    <div class="fl w-100 w-50-ns pl3-ns mb4">
	      <label class="db mb2">Last Name</label>
	      <input class="db w-100 ba bw1 pa3 b" type="text" name="last_name" value="{{data.last_name}}" />
	      <span class="db f6 pt2"></span>
	    </div>

		</div>




		<input type="hidden" name="_id" value="{{data._id}}" />

		<button rel="save"
			data-type="user"
			data-url="/admin/users/save"
			data-redirect="/admin/users"
			class="dib pa4 bg-near-black white bn b mb4">Save User</button>

		{{#if data._id}}
		&nbsp;
		<a rel="delete"
			data-type="user"
			data-url="/admin/users/delete"
			data-id="{{data._id}}"
			data-redirect="/admin/users">Delete</a>
		{{/if}}


	</form>
</div>




{{/if}}
