<div class="flex justify-between bg-subnav w-100 ph3 pv2 pv3-ns ph4-m ph5-l">
	<div class="f6 flex-grow">
		<a class="link black-90 dib mr4" href="/admin/users" title="All Users">All Users</a>
		<a class="link black-50 dib mr4" href="/admin/users/edit/new" title="New User">+ New User</a>
	</div>
</div>




<div class="ph3 pv3 ph4-m ph5-l">
	<div class="overflow-auto">
		<table class="f6 w-100 center" cellspacing="0">
			<thead>
				<tr>
					<th class="fw6 tl pa3">Screen Name</th>
					<th class="fw6 tl pa3">Email</th>
					<th class="fw6 tl pa3">Name</th>
					<th class="fw6 tl pa3">Date Created</th>
				</tr>
			</thead>
			<tbody class="lh-copy">
				{{#each users}}
				<tr class="stripe-dark">
					<td class="pa3"><a class="green b no-underline" href="/admin/users/edit/{{_id}}">{{screenname}}</a></td>
					<td class="pa3">{{email}}</td>
					<td class="pa3">{{first_name}} {{last_name}}</td>
					<td class="pa3">{{date date_created "m/d/Y"}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>