---
// DW - Form label component using shadcn/ui Label

import { Label as LabelComponent } from "@/components/ui/shadcn/label";
import { TooltipWrapper } from "@/components/ui/shadcn/TooltipWrapper";

interface Props {
  text?: string | boolean;
  subtext?: string | string[] | boolean;
  for?: string;
  class?: string;
  htmlAttributes?: Record<string, string>;
  popover?: boolean;
  subtextInline?: boolean;
  subtextColor?: string;
  popoverIcon?: string;
}

const {
  text,
  subtext,
  for: forInput,
  class: customClass = "",
  htmlAttributes = {},
  popover = false,
  subtextInline = false,
  subtextColor = "text-neutral-500",
  popoverIcon = `icon-[tabler--info-circle] size-4 text-neutral-400`,
} = Astro.props;

const baseClassName = `block mb-2 ${customClass}`;
---

{subtext ? (
  <LabelComponent
    client:load
    {...({ htmlFor: `input-${forInput}` } as any)}
    className={`${baseClassName} flex items-center ${subtextInline ? "gap-2" : "justify-between"}`}
    {...htmlAttributes}
  >
    <span>{text}</span>
    {popover ? (
      <TooltipWrapper
        client:load
        triggerIconClass={popoverIcon}
        content={Array.isArray(subtext) ? subtext : String(subtext)}
        subtextColor={subtextColor}
      />
    ) : (
      <>
        {Array.isArray(subtext) ? (
          <ul class={`text-sm ${subtextColor} list-disc list-inside`}>
            {subtext.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        ) : (
          <span class={`text-sm ${subtextColor}`} set:html={subtext} />
        )}
      </>
    )}
  </LabelComponent>
) : (
  <LabelComponent
    client:load
    {...({ htmlFor: `input-${forInput}` } as any)}
    className={baseClassName}
    {...htmlAttributes}
  >
    {text}
  </LabelComponent>
)}
