---
// DW - Form select dropdown component

import Label from "@/components/ui/form/Label.astro";

interface Props {
  label?: string;
  sublabel?: string | string[];
  name: string;
  required?: boolean;
  value?: string;
  class?: string;
  options: { label: string; value: string }[];
}

// const defaultClass = "p-2 border border-neutral-400 rounded-md";
const defaultClass = "select select-bordered";
const {
  label,
  sublabel,
  name,
  required = false,
  value = "",
  options,
  class: customClass = "",
} = Astro.props;
const className = customClass ? `${defaultClass} ${customClass}` : defaultClass;
---

<!-- mb-2 text-sm font-semibold -->
{label && <Label text={label} for={`input-${name}`} subtext={sublabel} />}
<select id={`input-${name}`} name={name} required={required} class={className}>
  {
    options.map((option) => (
      <option value={option.value} selected={option.value === value}>
        {option.label}
      </option>
    ))
  }
</select>
