---
// DW - Form select dropdown component using shadcn/ui Select

import Label from "@/components/ui/form/Label.astro";
import { SelectWrapper } from "@/components/ui/shadcn/SelectWrapper";

interface Props {
  label?: string;
  sublabel?: string | string[];
  popover?: boolean;
  popoverIcon?: string;
  name: string;
  required?: boolean;
  value?: string;
  class?: string;
  placeholder?: string;
  options: { label: string; value: string }[] | { label: string; options: { label: string; value: string }[] }[];
}

const {
  label,
  sublabel,
  popover,
  popoverIcon,
  name,
  required = false,
  value = "",
  options,
  class: customClass = "",
  placeholder = "",
} = Astro.props;
---

<div class="flex flex-col">
  {label && <Label text={label} class="mb-2" for={`input-${name}`} subtext={sublabel} popover={popover} popoverIcon={popoverIcon} />}
  <SelectWrapper
    client:load
    name={name}
    required={required}
    value={value}
    className={customClass}
    options={options}
    placeholder={placeholder}
    id={`input-${name}`}
  />
</div>
