---
import "../styles/global.css";
const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const siteTitle = import.meta.env.SITE_TITLE;
const pageTitle = title ? `${title} | ${siteTitle}` : siteTitle;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script is:inline src="/js/alpine.min.js" defer></script>
    <script is:inline src="/js/htmx.min.js" defer></script>
  </head>
  <body data-theme="shadcn">
    <div class="parent h-screen flex flex-col max-w-7xl mx-auto">
      <header>
        <nav class="flex justify-between items-center p-4 h-16">
          <div class="flex items-center">
            <a class="text-3xl font-semibold mr-4" href="/" data-astro-prefetch>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-10 h-10"
                viewBox="0 0 56 56"
                ><path
                  fill="currentColor"
                  d="M1.644 32.55h6.689c.616 0 1.187-.366 1.347-1.028l.662-2.945l3.219 14.907c.296 1.37 2.534 1.37 2.74-.022l2.784-18.31l3.265 28.24c.205 1.69 2.625 1.667 2.762 0l3.014-33.673l2.99 33.65c.16 1.713 2.557 1.713 2.763 0l3.264-28.216l2.808 18.332c.206 1.392 2.42 1.392 2.74 0l3.173-14.725l.685 2.762c.205.753.73 1.027 1.347 1.027h6.483c.914 0 1.621-.707 1.621-1.598c0-.89-.707-1.62-1.62-1.62H48.9l-1.826-7.078c-.41-1.53-2.397-1.53-2.717 0l-2.83 13.333l-3.22-21.026c-.25-1.667-2.556-1.621-2.762.023L32.67 39.535L29.52 3.921c-.138-1.712-2.649-1.712-2.809 0l-3.15 35.614l-2.877-24.952c-.182-1.69-2.488-1.69-2.762-.023l-3.219 21.026l-2.808-13.333c-.32-1.415-2.351-1.415-2.74 0L7.329 29.33H1.644C.73 29.33 0 30.06 0 30.951c0 .89.73 1.598 1.644 1.598"
                ></path></svg
              >
            </a>

            <a
              class={`text-xs font-semibold mr-4 hover:underline ${Astro.url.pathname.startsWith("/links") ? "underline" : "no-underline"}`}
              href="/links"
              data-astro-prefetch
            >
              Links
            </a>

          </div>
          <div class="text-xs">
            {
              Astro.locals.isAuthenticated ? (
                <>
                  <span class="">
                    <a
                      class={`text-xs hover:underline ${currentPath === "/dashboard" ? "underline" : "no-underline"}`}
                      href="/dashboard"
                    >
                      {Astro.locals.email}
                    </a>
                    {Astro.locals.authRoles?.includes("admin") ? (
                      <a
                        href="/admin"
                        class="text-xs opacity-50 ml-1 no-underline hover:underline"
                      >
                        (Admin)
                      </a>
                    ) : null}
                  </span>
                  <span class="opacity-50 mx-2">|</span>
                  <a
                    class="text-xs no-underline hover:underline"
                    href="/api/auth/logout"
                  >
                    Log out
                  </a>
                </>
              ) : (
                <>
                  <a
                    class={`text-xs hover:underline ${currentPath === "/login" ? "underline" : "no-underline"}`}
                    href="/login"
                  >
                    Log In
                  </a>
                  <span class="opacity-50 mx-2">|</span>
                  <a
                    class={`text-xs hover:underline ${currentPath === "/register" ? "underline" : "no-underline"}`}
                    href="/register"
                  >
                    Register
                  </a>
                </>
              )
            }
          </div>
        </nav>
      </header>
      <main class="flex-1 flex p-3">
        <slot />
      </main>
      <footer class="flex justify-between text-xs text-right p-3">
        <div class="">
          &copy; {new Date().getFullYear()}
          {siteTitle}. All rights reserved.
        </div>
        <div class="">
          <a
            class="no-underline hover:underline"
            href="https://jyoungblood.github.io"
            target="_blank">♥ JY</a
          >
        </div>
      </footer>
    </div>

    <script is:inline src="/node_modules/flyonui/flyonui.js"></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
