---
// DW - Button link component

interface Props {
  text: string;
  href: string;
  class?: string;
}

const { text, href, class: customClass = "" } = Astro.props;

const defaultClass = "btn btn-primary";
const className = customClass ? `${defaultClass} ${customClass}` : defaultClass;
---

<a href={href} class={className}>
  {text}
</a>
