---
interface Props {
  link: string;
  image: string | null | undefined;
  title: string | null;
  imageParameters?: string | null | undefined;
}

const { link, image, title, imageParameters } = Astro.props;

const photoUrl = image
  ? imageParameters
    ? `${image}?${imageParameters}`
    : image
  : null;
const displayTitle = title ?? "";
---

<div class="card sm:max-w-sm hover:opacity-90 transition-opacity duration-100 bg-base-100 shadow-sm">
  <a href={link} data-astro-prefetch>
    <figure class="aspect-[4/3] w-full">
      {
        photoUrl ? (
          <img
            src={photoUrl}
            alt={`Photo of ${displayTitle}`}
            class="w-full h-full object-cover rounded-t-md"
          />
        ) : (
          <div class="w-full h-full bg-neutral-100 rounded-t-md flex items-center justify-center">
            {/* smiley face */}
            {/* <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-20 h-20 text-neutral-400"
              viewBox="0 0 256 256"
            >
              <path
                fill="currentColor"
                d="M173.19 155c-9.92 17.16-26.39 27-45.19 27s-35.27-9.84-45.19-27a6 6 0 0 1 10.38-6c7.84 13.54 20.2 21 34.81 21s27-7.46 34.81-21a6 6 0 1 1 10.38 6M230 128A102 102 0 1 1 128 26a102.12 102.12 0 0 1 102 102m-12 0a90 90 0 1 0-90 90a90.1 90.1 0 0 0 90-90M92 118a10 10 0 1 0-10-10a10 10 0 0 0 10 10m72-20a10 10 0 1 0 10 10a10 10 0 0 0-10-10"
              />
            </svg> */}
            {/* globe */}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-20 h-20 text-neutral-300"
              viewBox="0 0 16 16"
            >
              <path
                fill="currentColor"
                d="M8 0c2.12 0 4.16.843 5.66 2.34C15.16 3.84 16 5.88 16 8s-.843 4.16-2.34 5.66C12.16 15.16 10.12 16 8 16s-4.16-.843-5.66-2.34C.84 12.16 0 10.12 0 8s.843-4.16 2.34-5.66C3.84.84 5.88 0 8 0m1.76 11H6.23l.05.305c.119.655.266 1.24.43 1.75l.127.365c.365.988.792 1.58 1.16 1.58s.792-.59 1.16-1.58l.126-.365q.274-.863.43-1.75l.05-.305zm-4.54 0H1.68a7.14 7.14 0 0 0 1.94 2.46a7.1 7.1 0 0 0 2.82 1.37c-.531-.868-.953-2.16-1.2-3.71l-.017-.114zm9.11 0h-3.55l-.016.114c-.245 1.54-.667 2.84-1.2 3.71a7 7 0 0 0 2.82-1.37a6.9 6.9 0 0 0 1.94-2.46v-.001zM5.1 6H1.3a7 7 0 0 0-.29 2c0 .695.101 1.37.29 2l3.8-.001l-.038-.459Q4.932 7.77 5.1 6m4.8 0H6.11a19.4 19.4 0 0 0 0 4H9.9c.138-1.33.138-2.67 0-4m4.81 0h-3.8l.04.459q.129 1.77-.04 3.54h3.8a7 7 0 0 0 0-4zM6.43 1.18l-.071.018a7.1 7.1 0 0 0-2.78 1.37a6.9 6.9 0 0 0-1.91 2.43h3.55l.017-.114c.245-1.54.667-2.84 1.2-3.71l-.001-.001zM8 1.005c-.365 0-.792.59-1.16 1.58l-.126.365a14 14 0 0 0-.43 1.75l-.051.305h3.53l-.05-.305a13 13 0 0 0-.43-1.75l-.126-.365c-.341-.922-.736-1.5-1.08-1.57l-.074-.007zm1.57.176l.065.108c.5.866.898 2.12 1.13 3.6l.016.114h3.55a7.14 7.14 0 0 0-1.94-2.46a7.1 7.1 0 0 0-2.82-1.37z"
              />
            </svg>
          </div>
        )
      }
    </figure>
  </a>
  <div class="card-body">
    <h5 class="card-title mb-2.5">{displayTitle}</h5>
    <p class="mb-4"><slot /></p>
  </div>
</div>
