---
interface Props {
  link?: any;
  redirect?: string;
}

const { link, redirect = "" } = Astro.props;

import InputText from "@/components/ui/form/InputText.astro";
import Textarea from "@/components/ui/form/Textarea.astro";
import Select from "@/components/ui/form/Select.astro";
import ButtonSubmit from "@/components/ui/form/ButtonSubmit.astro";
import ButtonDelete from "@/components/ui/form/ButtonDelete.astro";
import PhotoUploadSingle from "@/components/ui/form/PhotoUploadSingle.astro";
import PhotoUploadGallery from "@/components/ui/form/PhotoUploadGallery.astro";
import Label from "@/components/ui/form/Label.astro";

import { ensureCsrfToken } from "@/lib/csrf";
ensureCsrfToken(Astro.cookies);
---

<script>
  import { validateOnBlur } from "@/components/ui/scripts/validate-input.js";
  // @ts-ignore
  window.validateOnBlur = validateOnBlur;
</script>

<form class="" data-form aria-label="Link form" novalidate>
  <input type="hidden" name="csrf" value={Astro.cookies.get("csrf")?.value} />

  {
    link && link.uuid ? (
      // normal edit form
      <>
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col">
            <div class="mb-4">
              <InputText
                label="Title"
                name="title"
                value={link?.title}
                required
              />
            </div>
            <div class="mb-4">
              <InputText label="URL" name="url" value={link?.url} required />
            </div>

            <div class="mb-4">
              <Select
                label="Type"
                name="type"
                options={[
                  { label: "", value: "" },
                  { label: "Website", value: "website" },
                  { label: "Social Media", value: "social-media" },
                  { label: "Other", value: "other" },
                ]}
                value={link?.type}
                required
              />
            </div>

            <div class="mb-4">
              <Textarea
                label="Description"
                name="description"
                value={link?.description}
              />
            </div>
          </div>

          <div class="flex flex-col">
            <div class="mb-4">
              <Label class="mb-2" text="Primary Photo" />
              <PhotoUploadSingle
                related_id={{ uuid: link?.uuid }}
                related_table="links"
                related_column="photo_url"
                parameters_column={{
                  name: "photo_url_parameters",
                  default: "aspect_ratio=4:3",
                }}
                url={link?.photo_url}
                url_parameters={link?.photo_url_parameters}
                upload_path="/links"
                compression={{ format: "webp", size: 1024, quality: 80 }}
              />
            </div>

            <div class="mb-4">
              <Label class="mb-2" text="Gallery Photos" />
              <PhotoUploadGallery
                related_id={{ uuid: link?.uuid }}
                related_table="links"
                gallery_type="link-gallery"
                upload_path="/links/gallery"
                parameters_column={{
                  name: "photo_url_parameters",
                  default: "aspect_ratio=4:3",
                }}
                compression={{ format: "webp", size: 1024, quality: 80 }}
              />
            </div>

            <div class="mb-4">
              <Label class="mb-2" text="Slideshow Photos" />
              <PhotoUploadGallery
                related_id={{ uuid: link?.uuid }}
                related_table="links"
                gallery_type="link-slideshow"
                upload_path="/links/slideshow"
                parameters_column={{
                  name: "photo_url_parameters",
                  default: "aspect_ratio=4:3",
                }}
                file_limit_quantity={6}
                file_limit_size={1}
                file_formats="image/jpeg"
                compression={{ format: "webp", size: 1024, quality: 80 }}
              />
            </div>
          </div>
        </div>

        <input name="uuid" value={link?.uuid} type="hidden" />

        <div class="flex gap-4">
          <ButtonSubmit
            text="Save Link"
            workingText="Saving..."
            form="[data-form]"
            endpoint="/api/link/save"
            redirect={redirect}
          />

          <ButtonDelete
            text="Delete"
            type="link"
            uuid={link.uuid}
            endpoint="/api/link/delete"
            redirect={redirect}
          />
        </div>
      </>
    ) : (
      // new link form

      <>
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col">
            <div class="mb-4">
              <InputText label="Title" name="title" required />
            </div>

            <div class="flex gap-4">
              <ButtonSubmit
                text="Create Link"
                workingText="Creating..."
                form="[data-form]"
                endpoint="/api/link/save"
                redirect="/admin/links/edit?uuid=$uuid"
              />
            </div>
          </div>
        </div>
      </>
    )
  }
</form>
